/* You can add global styles to this file, and also import other style files */
@import '../../../assets/scss/patternlib-components.scss';
@import '../../../assets/scss/_variables';
@import '../../../assets/scss/mixins';
body {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding:0
}





  